@{
    ViewData["Title"] = "List of albums";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-warning" asp-controller="Album" asp-action="Create">Dodaj nowy post</a>
</div>
