@model MusicShop.Models.Entities.Album
@{ 
    ViewData["Title"] = "Album details";
}

<div class="container">
    <div class="row h-25">
        <div class="col-6" style="background-color: palevioletred;">
            <img src="~/images/@Model.ImageName" alt="@Model.ImageName album cover"
                 class="img-fluid" />
        </div>
        <div class="col-6 text-center" style="background-color: palevioletred;">
            <h1>@Model.Name</h1>
            <h2>By <a>@Model.Band.Name</a> </h2>
            <h3 class="font-italic text-secondary">Released @Model.ReleaseDate.Year</h3>
        </div>
    </div>
</div>